@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair'),
         url('fonts/firasans-hair.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Hair Italic'),
         url('fonts/firasans-hairitalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular'),
         url('fonts/firasans-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Regular Italic'),
         url('fonts/firasans-regularitalic.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold'),
         url('fonts/firasans-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Sans';
    src: local('Fira Sans Bold Italic'),
         url('fonts/firasans-bolditalic.woff') format('woff');
    font-weight: 700;
    font-style: italic;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono'),
         url('fonts/firamono-regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face{
    font-family: 'Fira Mono';
    src: local('Fira Mono Bold'),
         url('fonts/firamono-bold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

body {
  border-top: .5em solid #ececec;
  color: #333;
  font-family: 'Fira Sans';
  max-width: 7.68in;
  margin:auto;
  padding:auto
}

h1 {
  font-weight: 400;
  color: #238b45;
}

h2 {
  font-weight: 400;
  font-size: 1.5em;
  color: #238b45;
}

body > h1 {
  font-weight: 300;
  font-size: 2.5em;
}

a {
  color: #cb4b16;
  text-decoration: none;
}

a:hover {
  color: inherit;
}

img {
  max-width: 100%
}

code,
pre {
  font-family: 'Fira Mono';
  font-size: 1em;
}

pre {
  border-bottom: .1445em solid #ececec;
  border-top: .1445em solid #ececec;
  font-size: .875em;
  padding: .5em 0;
}

pre,
table {
  overflow-x: auto;
}

table {
  display: block;
  border-spacing: 1em .25em;
}

th {
  font-weight: 100;
}

figure {
  margin: 0;
}

table caption,
figure figcaption {
  font-weight: 100;
}

section ol {
  list-style: none;
  padding: 0;
}

section ol li {
  margin-bottom: 1em;
}

section dt a {
  color: #333;
}

section dd {
  margin: 0;
}

section dt:not(:first-child) {
  margin-top: 1em;
}

article ul,
article ol {
  padding: 0;
}

.byline {
  font-size: .875em;
  border-top: .2em solid #ececec;
  font-weight: 400;
  font-style: italic;
}

footer {
  border-top: .2em solid #ececec;
  font-size: .875em;
  font-weight: 400;
  margin: 2em 0;
}

/*mine*/
div.personalinfoitem{
	margin:10px 10px;
}

div.formitem{
	margin:10px 10px;
}

label{
	display: inline-block;
	width:100px;
	text-align:right;
	padding: 0 10px;
	vertical-align: middle;
}

input[type="text"],input[type="password"]{
	width:55%;
	outline: none;
	border: 1px solid rgb(216, 216, 216);
	padding: 2px 10px 2px 10px;
}

textarea{
	width:90%;
	border-radius: 5px;
	outline: none;
	border: 1px solid rgb(216, 216, 216);
	padding: 2px 10px 2px 10px;
}

input[type="text"],input[type="password"],input[type="radio"]{
	height: 14px;
	line-height: 14px;
	border-radius: 5px;
	padding:10px 10px;
	vertical-align: middle;
	color:#666;
}

button{
	padding: 5px 20px;
    height:30px;
	border: 1px solid rgb(216, 216, 216);
	border-radius: 5px;
	color:#cb4b16;
}


/*
 * GitHub style for Pygments
 * Courtesy of GitHub.com
 */

.hll { background-color: #f8f8f8; border: 1px solid #ccc; padding: 6px 10px; border-radius: 3px; }
.c { color: #999988; font-style: italic; }
.err { color: #a61717; background-color: #e3d2d2; }
.k { font-weight: bold; }
.o { font-weight: bold; }
.cm { color: #999988; font-style: italic; }
.cp { color: #999999; font-weight: bold; }
.c1 { color: #999988; font-style: italic; }
.cs { color: #999999; font-weight: bold; font-style: italic; }
.gd { color: #000000; background-color: #ffdddd; }
.gd .x { color: #000000; background-color: #ffaaaa; }
.ge { font-style: italic; }
.gr { color: #aa0000; }
.gh { color: #999999; }
.gi { color: #000000; background-color: #ddffdd; }
.gi .x { color: #000000; background-color: #aaffaa; }
.go { color: #888888; }
.gp { color: #555555; }
.gs { font-weight: bold; }
.gu { color: #800080; font-weight: bold; }
.gt { color: #aa0000; }
.kc { font-weight: bold; }
.kd { font-weight: bold; }
.kn { font-weight: bold; }
.kp { font-weight: bold; }
.kr { font-weight: bold; }
.kt { color: #445588; font-weight: bold; }
.m { color: #009999; }
.s { color: #dd1144; }
.n { color: #333333; }
.na { color: teal; }
.nb { color: #0086b3; }
.nc { color: #445588; font-weight: bold; }
.no { color: teal; }
.ni { color: purple; }
.ne { color: #990000; font-weight: bold; }
.nf { color: #990000; font-weight: bold; }
.nn { color: #555555; }
.nt { color: navy; }
.nv { color: teal; }
.ow { font-weight: bold; }
.w { color: #bbbbbb; }
.mf { color: #009999; }
.mh { color: #009999; }
.mi { color: #009999; }
.mo { color: #009999; }
.sb { color: #dd1144; }
.sc { color: #dd1144; }
.sd { color: #dd1144; }
.s2 { color: #dd1144; }
.se { color: #dd1144; }
.sh { color: #dd1144; }
.si { color: #dd1144; }
.sx { color: #dd1144; }
.sr { color: #009926; }
.s1 { color: #dd1144; }
.ss { color: #990073; }
.bp { color: #999999; }
.vc { color: teal; }
.vg { color: teal; }
.vi { color: teal; }
.il { color: #009999; }
.gc { color: #999; background-color: #EAF2F5; }
