$def with(user,post,msg)

$if msg is not None:
	<h3> $msg </h3>

<script language="javascript">  
function countChar()
{  
	str = document.getElementById("textarea").value
	var r= new RegExp(
  	  '[A-Za-z0-9_-\]+|'+                             // ASCII letters (no accents)
 	  '[\u4E00-\u9FFF\uF900-\uFAFF\u3400-\u4DBF]',   // Single CJK ideographs
	  'g');
	if (str){
		var nwords= str.match(r).length;
		document.getElementById("wordcount").innerHTML = nwords
	}
	else
		document.getElementById("wordcount").innerHTML = 0
}  
</script>
$if post is None:
	$var title: Edit - New

	<a href="/admin/postsadmin">Post List</a>
	<form method="POST" action="/admin/new">
	<span>
		<label style="width:70%;text-align:left;"><h1>New Post.</h1></label>
		<button type="submit">Save</button><br>
	</span>

	<div class="formitem">
	<label for="title">Title:</label>
	<input type="text" name="title" placeholder="Title for the post"/>
	</div>
	<div class="formitem">
	<label for="title_id">Title ID:</label>
	<input type="text" name="title_id" placeholder="Title id is simple '_' jointed words"/>
	</div>
	<div class="formitem">
	<label for="tags">Tags:</label>
	<input type="text" name="tags" placeholder="Tags Here,seperated by comma"/>
	</div>
	<div class="formitem">
	<label for="category">Category:</label>
	<input type="text" name="category" placeholder="category Here"/>
	</div>
	<div class="formitem">
		<label for="status">Type:</label>
		<input type="radio" name="type" value="0" checked="checked"/>Private 
		<input type="radio" name="type" value="1"/>Public
	</div>
	<div class="formitem">
		<label>Content:(<span id="wordcount">0</span>Words)</label>
		<textarea id="textarea" oninput="countChar();" onfocus="countChar();" name="content" rows="30" cols="90" placeholder="Content Here" style="vertical-align:text-top;"></textarea>
	</div>
		
	</form>
$else: 
	$var title: Edit - $post['title']

	<a href="/admin/postsadmin">Post List</a>
	
	<form method="POST" action="/admin/edit/$post['title_id']">
	<span>
		<label style="width:70%;text-align:left;"><h1>Edit Post. &emsp;
		<a href="/admin/view/$post['title_id']">Preview</a></h1>
		</label>
		<button type="submit">Save</button>
	</span>
	
	<div class="formitem">
	<label for="title">Title:</label>
	<input type="text" name="title" value="$post['title']"/>
	</div>
	<div class="formitem">
	<label for="title_id">Title ID:</label>
	<input type="text" name="title_id" readonly="true" value="$post['title_id']"/>
	</div>
	<div class="formitem">
	<label for="tags">Tags:</label>
	<input type="text" name="tags" value="$post['tags']"/>
	</div>
	<div class="formitem">
	<label for="category">Category:</label>
	<input type="text" name="category" value="$post['category']"/>
	</div>
	<div class="formitem">
		<label for="status">Type:</label>
		$if post['type'] == 0:
			<input type="radio" name="type" value="0" checked="checked"/>Private 
			<input type="radio" name="type" value="1"/>Public
		$else:
			<input type="radio" name="type" value="0"/>Private 
			<input type="radio" name="type" value="1" checked="checked"/>Public
	</div>
	<div class="formitem">
		<label>Content:(<span id="wordcount">0</span>Words)</label>
		<textarea id="textarea" oninput="countChar();" onfocus="countChar();" name="content" rows="30" cols="90" style="vertical-align:text-top;">$post['content']</textarea>
	</div>
		
	</form>



